.footerMain {
    /* background-color: rgb(205, 209, 236); */
    background-color: rgba(19, 6, 34, 0.926);
    color: white;

    & .h5{
        color: #3652AD;
        font-weight: 600;
    }

}

.fa-brands:hover{
    color: #3652AD;
}

.footerBottom {

    padding: 10px 30px;
}

.footerDivsCenter {
    width: fit-content;
}

@media screen and (max-width: 767px) {
    .footerMain {
        text-align: center;
    }

    .footerDivsCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerDivsCenter span {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 370px) {

    #footerBottomBrandname {
        margin: auto;
    }

    #footberBottomSocial {
        display: none;
    }

}